:root{
  --background-color: #ddd;
}


.about-container{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 2rem);
  background-color: #FFFF;

}

.about-title{
}

.about-info{

}

.about-semi-container{
  display: flex;
  width: 40%;
  border-style: solid;
  height: auto;
  justify-content: center;
  overflow: auto;

}

.about-data{
  width: 80%;
}
