:root{
  --background-color: #ddd;
}


#home-page{
  background-color: var(--background-color);
}

.home-container{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 2rem);

}

.home-title{
}

.home-info{

}

.slideshow-container{

}

.slideshow-content{
  height: 100px;
  width: 100%;
}
